<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

<bean id="airtel" class="com.cg.app.AirtelSim">
<property name="callCharges" value="2.5"/>
<property name="smsCharges" value="1.2"/>
</bean>

<bean id="vi" class="com.cg.app.ViSim">
<property name="callCharges" value="1.5"/>
<property name="smsCharges" value="1"/>

</bean>


<bean id="jio" class="com.cg.app.JIOSim">
<property name="callCharges" value="1.2"/>
<property name="smsCharges" value=".80"/>
</bean>


<bean id="phone" class="com.cg.app.Phone">
<constructor-arg name="brand" value="Apple"/>
<constructor-arg name="ram" value="6"/>
<property name="sim" ref="jio"/>
</bean>


</beans>